// --------------------------------------------------
//  Colors.
// --------------------------------------------------

$white: #fff;
$black: #000;
$text_black: #22333f;


// --------------------------------------------------
//  Branding colors.
// --------------------------------------------------

$c1: #ebebeb;
$c2: #22333f;
$c3: #ed1c27;

// --------------------------------------------------
//  Color assignment.
// --------------------------------------------------

$site_background: $c1;
$page_background: transparent;
$link_color: #2455c3;


// --------------------------------------------------
//  Type.
// --------------------------------------------------

$main_font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$code_font: Consolas, Monaco, 'Andale Mono', monospace;
$root_font_size: 16px;
$line_height: 1.8em;
$root_font_weight: normal;


// --------------------------------------------------
//  Images.
// --------------------------------------------------

$logo: '../images/logo_digitaslbi.svg';


// --------------------------------------------------
//  Grid.
// --------------------------------------------------

$susy: (
    columns: 12,
    gutters: 0,
    math: fluid,
    output: float,
    gutter-position: inside
);


// --------------------------------------------------
//  Breakpoints
// --------------------------------------------------

$desktop: 960px;
$mobile: 750px;
